.ui.text.container {
    font-size: 1.14285714rem;
    margin-top: 70px;
    margin-bottom: 20px;
}


.ui.huge.header {
    min-height: 1em;
    font-size: 2em;
}

.completed{
	color: green;
}
.rejected{
	color:red;
}

i.icon, i.icons {
    font-size: 1.7em;
    float: right;
}

.abc{
	clear: both;
	display: block;
}
.top{
	position: relative;
}
#exc{
    float: none;
}
#new{
    position: relative;
    left: 46%
}