.ui.text.container {
    font-size: 1.14285714rem;
    margin-top: 70px;
    width:80%;
}

i.icon.nav {
    font-size: 1.7em;
    float: right;
}

.outer{
	margin-top: 60px;
	margin-bottom: 20px;
}
img {
    border-style: none;
    -webkit-max-logical-height: 400px;
}