.ui.text.container {
    font-size: 1.14285714rem;
    margin-top: 60px;
}

.ui.segment:last-child{
	margin-top: 100px;
}

.ui.huge.header {
    min-height: 1em;
    font-size: 2em;
}

i.icon, i.icons {
    font-size: 1.7em;
    float: right;
}